# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by a python script, so they may be deleted
#  after the tool has been run.
build/
dist/
*.spec

# FFmpeg (Too large for GitHub)
ffmpeg.exe

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
